<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <br />
  <!--Personal Info from new user-->
  <div class="col-8">
  <div class="card text-white bg-info mb-3" style="max-width: 50rem;">
    <div class="card-header">User Information</div>
    <div class="card-body">  
      <h5 class="card-title">User</h5>
        <div>
             <%= f.label :picture %>
             <%= f.text_field :picture, autofocus: true %>
        </div>
        <div>
             <%= f.label :first_name %>
             <%= f.text_field :first_name, autofocus: true %>
        
             <%= f.label :last_name %>
             <%= f.text_field :last_name, autofocus: true %>
        </div>
        <div>
             <%= f.label :gender %>
             <%= f.select :gender,[ 'Female', 'Male', 'Other', 'N/A' ], :prompt => 'Select One', autofocus: true %>
        </div>   
        <div>
             <%= f.label :age %>
             <%= f.select :age, options_for_select(18..100), :prompt => "Age" ,autofocus: true %>
        </div>
        <div>
             <%= f.label :address %>
             <%= f.text_field :street_address, autofocus: true %>
        </div> 
        <div>
             <%= f.label :city %>
             <%= f.text_field :city, autofocus: true %>

             <%= f.label :state %>
             <%= f.text_field :state, autofocus: true %>
        </div>
        <div>
             <%= f.label :cuntry %>
             <%= f.text_field :country, autofocus: true %>
        </div>   
        <div>
             <%= f.label :nationality %>
             <%= f.text_field :nationality, autofocus: true %>
        </div> 
        <!--user Language information-->
        <div>
          <%= f.label :nativelanguage %>
          <%= f.select :nativelanguage,options_from_collection_for_select(Language.all, 'id', 'name', params[:language_id]), autofocus: true %>          
          Native Language
          <%= select_tag 'Language', options_from_collection_for_select(Language.all, 'id', 'name', params[:language_id]) %>
          <%= select_tag 'native_level', options_for_select([['Low', 1 ], ['Medium', 2], ['High', 3]]) %>
          
        </div>        
        <div>
          Language that you speak
          <%= select_tag 'Language', options_from_collection_for_select(Language.all, 'id', 'name', params[:language_id]) %>
          <%= select_tag 'speak_level', options_for_select([['Low', 1 ], ['Medium', 2], ['High', 3]]) %>          
        </div>        
        <div>
          Language that do want to learn
          <%= select_tag 'Language', options_from_collection_for_select(Language.all, 'id', 'name', params[:language_id]) %>
          <%= select_tag 'learn_level', options_for_select([['Low', 1 ], ['Medium', 2], ['High', 3]]) %>
        </div>          
        <div>
             <%= f.label :about_me %><br />
             <%= f.text_area :introduction, :cols => 80, :rows => 5, autofocus: true %>
        </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
