<div class="container">
  <%= link_to 'Matched Page', messages_path %>
</div>
<div class="container">
 <% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
 <% end %>
</div>

<div class="container">
 <div class="jumbotron content-box">
 <% @contents.each do |content| %>
     <div>
      <p><strong><%= content.user.first_name %> <%= content.user.last_name %></strong><%= content.content_time %></p>
     </div>
     <div>
       <%= content.body %>
     </div>
<% end %>
</div>
</div>
<div class="container">
<%= form_for [@message, @content] do |f| %>
 <div class="form-group">
   <%= f.text_area :body, :class => "form-control"%>
 </div>
 <div class="form-group">
  <%= f.text_field :user_id, value: current_user.id, type: "hidden", :class => "form-control" %>
 </div>
 <div class="form-group">
   <%= f.submit "Reply", :class => "btn btn-primary form-control" %>
 </div>
<% end %>
</div>