<div class="container">
<h2 class="loginform"><strong>Sign Up</strong></h2>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Security</div>
      <div class="card-body">
        <h5 class="card-title">Security Information</h5>
        <p class="card-text">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        </div>
      </div>
    </div>  
  </div>

  <!--Personal Info from new user-->
  <div class="col-8">
  <div class="card text-white bg-dark mb-3" style="max-width: 50rem;">
    <div class="card-header">User Information</div>
    <div class="card-body">  
      <h5 class="card-title, row justify-content-center">.:: Learn together user information ::.</h5>
        <div class="field">
          <%= f.label :picture %>
          <%= f.file_field :picture %>
        </div>
        <div>
           <%= f.label :first_name %>
           <%= f.text_field :first_name, autofocus: true %>
      
           <%= f.label :last_name %>
           <%= f.text_field :last_name, autofocus: true %>
        </div>
        <div>
          <%= f.label :gender %>
          <%= f.select :gender,[ 'Female', 'Male', 'Other', 'N/A' ], :prompt => 'Select One', autofocus: true %>
        </div>   
        <div>
          <%= f.label :age %>
          <%= f.select :age, options_for_select(18..100), :prompt => "age" ,autofocus: true %>
        </div>
        <div>
          <%= f.label :street_address %>
          <%= f.text_field :street_address, autofocus: true %>
        </div> 
        <div>
          <%= f.label :city %>
          <%= f.text_field :city, autofocus: true %>

          <%= f.label :state %>
          <%= f.text_field :state, autofocus: true %>
        </div>
        <div>
          <%= f.label :country %>
          <%= f.text_field :country, autofocus: true %>
        </div>   
        <div>
          <%= f.label :nationality %>
          <%= f.text_field :nationality, autofocus: true %>
        </div>  
        <br />
        <!--## LANGUAGE USER INFORMATION ## -->
        <div>
          <!--Native Language information-->
          <%= f.label :native_language %>
          <%= f.select :nativelanguage_id,options_from_collection_for_select(Language.all, 'id', 'name'), prompt: "All Languages", autofocus: true %>
          <%= f.select 'nativelevel', options_for_select([['Low', '1' ], ['Medium', 2], ['High', 3]], params[:nativelevel].to_i) %>
        </div>
        <div>
          <%= f.label :learn_language %>
          <%= f.select :learnlanguage_id,options_from_collection_for_select(Language.all, 'id', 'name'), autofocus: true %>
          <%= f.select 'learninglevel', options_for_select([['Low', 1 ], ['Medium', 2], ['High', 3]], params[:learninglevel].to_i) %>
        </div> 
        <div>
          <%= f.label :language_you_speak %>
          <%= f.select :speaklanguage_id,options_from_collection_for_select(Language.all, 'id', 'name'), autofocus: true %>
          <%= f.select 'speaklevel', options_for_select([['Low', 1 ], ['Medium', 2], ['High', 3]], params[:speaklevel].to_i) %>
        </div>        
        <br />        
        <div>
          <%= f.label :about_me %><br />
          <%= f.text_area :introduction, :cols => 80, :rows => 5, autofocus: true %>
        </div>
        <br />
        <div>
          <%= f.submit "Sign UP", class: "btn btn-success" %>
        </div>
    </div>
  </div>  
</div>  

<!--<div class="row">-->
<!--  <div class="col-2"></div>  -->
<!--    <div class="actions">-->
<!--      <%= f.submit "Sign UP", class: "btn btn-success" %>-->
<!--    </div>-->
<!--  </div>-->
<% end %>
<!--<br />-->
<!--<div>-->
<!--<b><%= render "devise/shared/links" %></b>-->
<!--</div>-->
<!--</div>-->
