<h2>Details</h2>
<%= @user.picture %>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.age %>
<%= @user.gender %>
<%= @user.street_address %>
<%= @user.city %>
<%= @user.state %>
<%= @user.country %>
<%= @user.nationality %>

