<div class="container user-info">
  
  <div class="btn btn-primary btn-sm">
    <%= link_to 'Back', messages_path %>
  </div>
  <div class="user-info">
    <h2>User Information</h2>
    <div class="card border-info mb-3">
      <% if @user.picture == true %>
        <img class="card-img-top" src="<%= image_tag @user.picture, class:"img-rounded", height:50, width:50 %>" alt="Card image cap">
      <% else %>
        <img class="card-img-top" src="https://images.unsplash.com/photo-1508109742312-c7d531211d11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="picture">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
        <p class="card-text">
          <b>Age</b>
          <%= @user.age %><br />
          <b>Gender</b>
          <%= @user.gender %><br />
          <b>Address</b>
          <%= @user.street_address %><br />
          <b>City</b>
          <%= @user.city %><br />
          <b>State</b>
          <%= @user.state %><br />
          <b>Country</b>
          <%= @user.country %><br />
          <b>Nationality</b>
          <%= @user.nationality %><br />          
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
 </div>

